{% extends "DepoBundle::layout.html.twig" %}

{% block body -%}
    <div class="container">
        <h1>Completar envio  {{entity}}</h1>
        
        {{ form_start(form) }}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Total</th>
                    <th>Confirmar</th>
                    <th>Pagado</th>
                </tr>
            </thead>
            <tbody>
                {% for prod in productos %}
                    <tr>
                        <td>{{prod.producto}}</td>
                        <td>{{prod.cantidad}}</td>
                        <td>${{prod.precio}}</td>
                        <td>${{prod.precio * prod.cantidad}}</td>
                        {% set conf = 'conf_' ~ prod.id %}
                        {% set cant = 'cant_' ~ prod.id %}
                        <td style="width:10%;">{{form_widget(form[conf])}}</td>
                        <td style="width:10%;">{{form_widget(form[cant])}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
            {# render the task's only field: description #}
            <h3>Gastos</h3>
            <ul class="gastos" data-prototype="{{ form_widget(form.gastos.vars.prototype)|e }}">
                
                    {% for gasto in form.gastos %}
                        <div class="li-gastos-{{loop.index}}">
                        <li>{{ form_row(gasto.gasto) }}</li>
                        <li>{{ form_row(gasto.cantidad) }}</li>
                        </div>
                    {% endfor %}
                
            </ul>
            <br/>
            <input type="submit" class="btn btn-info" value="Guardar">
        </form>
        
        

        <ul class="record_actions">
            <li>
                <span class="glyphicon glyphicon-chevron-left"></span>
                <a href="{{ path('depo_homepage') }}">
                    Volver a la lista                </a>
            </li>
        </ul>
        
    </div>
{% endblock %}

{%block javascripts %}
    <script>
        var $collectionHolder;

        // setup an "add a tag" link
        var $addTagLink = $('<input type="button" class="btn btn-success" value="Agregar un Gasto">');
        var $newLinkLi = $('<li></li>').append($addTagLink);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.gastos');
            
            {% for gasto in form.gastos %}
                addTagFormDeleteLink($('div.li-gastos-{{loop.index}}'));
            {% endfor %}
            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addTagForm($collectionHolder, $newLinkLi);
            });
            
            
            
            function addTagForm($collectionHolder, $newLinkLi) {
                // Get the data-prototype explained earlier
                var prototype = $collectionHolder.data('prototype');

                // get the new index
                var index = $collectionHolder.data('index');

                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm = prototype.replace(/__name__/g, index);

                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "Add a tag" link li
                var $newFormLi = $('<li></li>').append(newForm);
                $newLinkLi.before($newFormLi);
                addTagFormDeleteLink($newFormLi);
            }
        });
        function addTagFormDeleteLink($tagFormLi) {
            var $removeFormA = $('<input type="button" value="Borrar" class="btn btn-danger"><br />');
            $tagFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the tag form
                $tagFormLi.remove();
        });
}

    </script>   
    {{ parent() }}
    {{ form_javascript(form) }}
    {{ form_stylesheet(form) }}
{% endblock %}